# Ignore build output directories
dist/
build/
out/

# Ignore temporary files
*.tmp
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore generated/cache files and virtual environment
__pycache__/
*.pyc
.venv/
**/.coverage

# Ignore LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.ilg
*.ind
*.idx
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.dvi
*.ps
*.pdf
*.nav
*.snm
*.vrb
